<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- controllers: -->
<gazebo>
   <!--Plugin loads hardware interfaces and controller manager -->
   <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/$(arg robot_name)/joints</robotNamespace>
<!--      <robotParam>/$(arg robot_name)/robot_description</robotParam> -->
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <controlPeriod>0.001</controlPeriod>
      <!-- 100Hz means 0.01 control Period -->
   </plugin>
</gazebo>


<!--   The <transmission> element is used to link actuators to joints
       Without a transmission link there is no tf published!
 -->
 <transmission name="joint_a1_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_a1">
       <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint_a1_actuator">
       <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
       <mechanicalReduction>1</mechanicalReduction>
    </actuator>
 </transmission>

<transmission name="joint_a2_transmission">
   <type>transmission_interface/SimpleTransmission</type>
   <joint name="joint_a2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
   </joint>
   <actuator name="joint_a2_actuator">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
   </actuator>
</transmission>

<transmission name="joint_a3_transmission">
   <type>transmission_interface/SimpleTransmission</type>
   <joint name="joint_a3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
   </joint>
   <actuator name="joint_a3_actuator">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
   </actuator>
</transmission>


<gazebo reference="link_1">
    <mu1>1</mu1>
    <mu2>1</mu2>
    <selfCollide>true</selfCollide>
   <material>Gazebo/Grey</material>
</gazebo>

<gazebo reference="link_2">
    <mu1>1</mu1>
    <mu2>1</mu2>
    <selfCollide>true</selfCollide>
   <material>Gazebo/Grey</material>
</gazebo>

<gazebo reference="link_3">
    <mu1>1</mu1>
    <mu2>1</mu2>
    <selfCollide>true</selfCollide>
   <material>Gazebo/Grey</material>
</gazebo>

<gazebo reference="link_4">
    <mu1>1</mu1>
    <mu2>1</mu2>
    <selfCollide>true</selfCollide>
   <material>Gazebo/Grey</material>
</gazebo>

<gazebo reference="link_5">
    <mu1>1</mu1>
    <mu2>1</mu2>
    <selfCollide>true</selfCollide>
   <material>Gazebo/Grey</material>
</gazebo>

<gazebo reference="link_6">
    <mu1>1</mu1>
    <mu2>1</mu2>
    <selfCollide>true</selfCollide>
   <material>Gazebo/Grey</material>
</gazebo>




<!-- p3d plugin (3D Position Interface for Ground Truth)
     This is required only for rviz that the balllink tf is known! -->
     <gazebo>
        <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
           <frameName>world</frameName>
           <bodyName>footprint</bodyName>
           <topicName>/gazebo/$(arg robot_name)/odom</topicName>
           <updateRate>10.0</updateRate> <!-- not sure why but if you set this value low ball is not so often jumping into the origin (in rviz) -->
        </plugin>
     </gazebo>

</robot>
