<?xml version="1.0"?>

<launch>
   <arg name="robot_name" default="kuka" />

  <!-- Load robot description to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kuka_kr5_description)/urdf/kr5.xacro'
     robot_name:=$(arg robot_name)"
     />
</launch>
