<?xml version="1.0"?>

<launch>
<arg name="robot_name" default="kuka" />
<arg name="motors_controller_type" default="PositionJointInterface" /> <!-- PositionJointInterface, VelocityJointInterface, EffortJointInterface -->
<arg name="control_period" default="0.001" />
<arg name="use_the_plate" default="True" /> <!-- plate as endeffector tool -->

  <!-- Load robot description to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kuka_manipulator_description)/urdf/kr5.xacro'
     robot_name:=$(arg robot_name)
     motors_controller_type:=$(arg motors_controller_type)
     control_period:=$(arg control_period)
     use_the_plate:=$(arg use_the_plate)
"     />
</launch>
